body{
background-image: url(img/img1.jpg);
background-size: cover;
background-attachment: fixed;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
  


}
.container{
    background-color: rgba(65,49,258,.7);
    width: 400px;
    color: #fff;
    padding: 30px;
    text-align: center;
    border: solid 3px #fff;
}